<%- include('partials/header') -%>
<div class="container">
 
              <a href="/matches" class="col-3 btn btn-primary">Your Matches</a>
              <a href="/profile" class="col-3 btn btn-primary">Profile</a>
              <a href="/" class="col-3 btn btn-primary">All Cats</a>
              <a href="/application" class="col-3 btn btn-primary">Adoption Application</a>
          
</div>
<%- include('partials/footer') -%>